<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo index</title>
</head>
<body>
    <form action="/weibo/add" method="post">
        <input name="content">
        <button>add weibo</button>
    </form>
    <a href="/weibo/detail">个人微博</a>
    {% for w in weibos %}
        <div>
            <h2>{{ w.content }} {{ w.user().username }} 发表于 {{ w.created_time }}
                <a href="/comment/new?id={{ w.id }}">comment</a>
            </h2>
        </div>
        {% for c in w.comments() %}
            <div>
                <h4>{{ c.content }} {{ c.user().username }} 评论于{{ c.created_time }}</h4>
            </div>
        {% endfor %}
    {% endfor %}

</body>
</html>