<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo detail</title>
</head>
<body>
    {% for w in weibos %}
        <div>
            <h2>{{ w.content }} @ {{ w.created_time }} from {{ w.user().username }}</h2>
            <a href="/weibo/edit?id={{w.id}}">edit</a>
            <a href="/weibo/delete?id={{w.id}}">delete</a>
        {% for c in w.comments() %}
            <div>
                <h4>{{ c.content }} {{ c.user().username }} 评论于{{ c.created_time }}</h4>
            </div>
            <a href="/comment/delete?id={{c.id}}">delete</a>
        {% endfor %}
        </div>
    {% endfor %}
</body>
</html>